@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: #ffd55a;*/
  background: #6dd47e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: #ffd55a;
  height: 100vh;
}

.App {
  width: 100%;
  background-color: #293250;
  padding: 20px;
  height: 720px;
  width: 800px;
  border-radius: 30px;
}

.ToDoFormContainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.ToDoFormContainer input {
  height: 100%;
  font-size: 2rem;
  width: 80%;
}
.taskDone {
  display: flex;
  text-align: center;
}
.singleTask,
.singleDoneTask {
  width: 100%;
  border: 1px #6dd47e solid;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  height: 50px;
  color: white;
  font-size: 2rem;
}
.singleTask p,
.singleDoneTask p {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #ffd55a;
}
i {
  color: white;
}
button {
  background: transparent;
  height: 100%;
  width: 50px;
  transition-duration: 0.5s;
}
.deleteButton {
  background-color: transparent;
  border: 1px red solid;
  background-color: red;
  color: white;
}
.deleteButton:hover {
  background-color: transparent;
}

.doneButton {
  background-color: transparent;
  border: 1px #00ff00 solid;
  background-color: #00ff00;
  color: white;
}

.doneButton:hover {
  background-color: transparent;
}

.editButton {
  background-color: transparent;
  border: 1px #d9ff00 solid;
  background-color: #d9ff00;
  color: white;
}

.editButton:hover {
  background-color: transparent;
}
